

.carrinho{
    position: relative;
    display: flex;
    align-items: center;
    width: 100px;
    margin-right: 2%;
    margin-top: 0.5%;
}

#itens{
    margin-left: 50%;
}

.count{
    position: absolute;
    /* height: 20px;
    width: 20px; */
    background: radial-gradient(ellipse at center,rgb(181, 181, 181) 0%,rgb(181, 181, 181) 0%,rgb(181, 181, 181) 67%,rgba(0,0,0,0) 70%);
    margin-bottom: 50px;
    margin-left: 82px;
}

#cart{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 255, 255);
    padding-top: 7%;
    padding-bottom: 7%;
    border-radius: 12px;
    margin-left: 4%;
    margin-right: 4%;
}

#cart img{
    height: 40%;
    width: 40%;
}

body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    /* position: absolute; */
}

select{
    padding: 1.5%;
    border-radius: 6px;

}

#sectionContent{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5%;
    /* width: 100%; */
    height: 70vh;

}

#carrosel{
    position: relative;
    height: 100%;
    /* width: 60%; */
}

#quickFind{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: gray;
    width: 30%;
    /* height: 70vh; */
    padding: 2%;
    margin-right: 2%;
    border-radius: 6px;
}

#carrosel{
    position: relative !important;
    /* height: 80%; */
    width: 70%;
    display: flex;
    align-items: center;
}

.carousel-inner{
    position: relative;
    width: 100%;
    overflow: hidden;
}

#quickFind input{
    margin-bottom: 5%;
    width: 90%;
}

#divSelects{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50vh;
    justify-content: space-between;
    gap: 7%;

}

#inputValue{
    display: flex;
    width: 100%;
    gap: 2%;
    margin-top: 10%;
}

#buttonSearchQuickFind{
    width: 60%;
    align-self: center;
    border-radius: 6px;
    border: 1px solid black;
}

#searchIcon{
    width: 15%;
}


#containerMain{
    display: grid;
    grid-template-columns: 3fr 1fr;
    width: 100%;
    align-self: center;
    padding: 5%;
    /* margin: 5%; */
    /* height: fit-content; */
}

#containerCards{
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* align-items: center; */
    /* gap: 2%; */
}


.MyCard{
    display: flex;
    flex-direction: column;
    padding-top: 1.3%;
    margin-top: 4%;
    margin-left: 2%;
    /* width: 100%;  */
    height: 16rem;
    background-color: gray;
    align-items: center;
}

.MyCard img{
    width: 70%;
    height: 15vh;
    align-self: center;
}

.contentCard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#containerAside{
    display:flex;
    flex-direction: column;
    width: 100%;
    padding: 5%;
    height: inherit;
    /* margin: 10%; */
} 

/* #carrosel{
    position: relative;
} */



.reviewedItem{
    display: grid;
    grid-template-columns: 1.3fr 1fr;
    gap: 2%;
}

#mostReviewed{
    margin-top: 10%;
    margin-bottom: 15%;
    background-color: gray;
    display: flex;
    flex-direction: column;
    padding: 5%;
    justify-content: space-evenly;
    align-items: center;
    /* height: 120vh; */
    border-radius: 6px;
}



.imageReviewed{
    width: 100%;
}

#noticias{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 10%;
    background-color: gray;
    border-radius: 6px;
    height: 30vh;
    max-width: 100%;
    /* flex-wrap: wrap; */
}

#noticias input{
    width: inherit;
}

#contentNewsletter{
    width: 100%;
    margin-bottom: 2%;
}

/* #btnNewsletter{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 10%;
} */


#quickLinks{
    display: flex;
    flex-direction: column;
}

#footer{
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    width: 100%;
    /* height: 40vh; */
    background-color: gray;
    justify-items: center;
    padding: 2%;
}

a{
    width: fit-content;
}


.divFooter{
    display: flex;
    justify-content: space-between;
}
/* divs footer */
#quickLinks{
    width: 50%;
}

#socialMidia{
    width: 50%;
}

#formasPagamento{
    width: 50%;
}

#contactUs{
    width: 50%;
}
/* divs footer */

#formasPagamento img{
    width: 15%;
}

#first{
    width: 15%;
}

.second{
    width: 13%;
}

#emailIcon{
    width: 10%;
}

#telIcon{
    width: 10%;   
}


@media screen and (max-width: 1300px) {
    
    #noticias{
        width: 50%;
        padding: 2%;
        align-self: center;
    }
 
    #containerMain{
        display: flex;
        flex-direction: column;
    }


    #containerCards{
        /* align-items:normal; */
        justify-content: center;

    }


}


@media screen and (max-width:1320px) {
    #quickFind{
        height: 80%;
    }
}

@media screen and (max-width: 1220px) {
    
}

@media screen and (max-width:1060px) {
    #quickFind{
        height: 70%;
    }
}

@media screen and (max-width: 905px) {
    #sectionContent{
        height: auto;
        flex-direction: column-reverse;
    }

    #quickFind{
        margin-top: 5%;
        width: 70%;
    }

    #carrosel{
        width: 100%;
    }
}

@media screen and (max-width:500px){
    #footer{
        flex-direction: column;
    }
}

@media screen and (max-width:282px){
    .divFooter{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-content: center;
    }
}